#
# [Required] Location of the root filesystem
#
# Should be a tar or tar.gz archive with the root filesystem (root.ext4) inside
#
# Can be served from a http(s) endpoint or tftp server
#
# Note: the HTTP endpoint gets priority over the tftp location in case both are filled in
#
#HTTP_SOURCE=https://example.com/rootfs.ext4.tar.gz
#TFTP_HOST=tftp.example.com
#TFTP_PATH=d94a609b/rootfs.ext4.tar.gz

#
# [Optional] Location the bootstrap executable is located
# Should be a file that can be executed, example an 'sh' script or binary
#
#BOOTSTRAP_LOCATION=https://<hostname>/bootstrap.sh
#BOOTSTRAP_LOCATION=tftp://<hostname>/d94a609b/bootstrap.sh

#
# [Optional] Root filesystem size in megabyte
#
# When not provided the default (256) will be used
#
#ROOTFS_SIZE=256

#
# [Optional] Hostname the environment will get
#
#HOSTNAME=host.example.com

#
# [Optional] The root password that will be set for the environment
#
# Note: when not filled in the password will be requested during the rootfs creation
#
#PASSWORD=

#
# [Optional] public key that will be set for the root user
#
#SSH_PUB_KEY=
